div[data-testid="stImage"] {
  display: inline-block;
}

.stCheckbox {
  display: inline-block;
}

div[data-testid="stVerticalBlock"] {
  background-color: rgba(187, 214, 255, 0.541);
  padding: 16px;
  border-radius: 3px;
  word-break: break-all;
  gap: 0.5rem;
}


div[data-testid='column']{
  opacity: 0.2;
}

div[class='stVerticalBlock'] > div {
  opacity: 0.35;
  word-break: break-all;
}

.stTextArea > div {
  width: 95%;
}

.stAlert > div {
    width: 95%;
    opacity: 1;
    box-shadow: 6px 5px 19px 0px black
}

.stAlert > div > div > div > div > p {
  color:white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  stroke: black;
  stroke-width: 10px;
  text-shadow: 4px 5px 11px black
}

.stProgress {
  width: 95%;
}

.stSpinner > div {
  margin-left: 40%;
}

orange {
  background-color: OrangeRed;
  color: white;
  border-radius: 0.4rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
}

yellow {
  background-color: Orange;
  color: white;
  border-radius: 0.4rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
}

red {
  background-color: Crimson;
  color: white;
  border-radius: 0.4rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
}

.result {
  font-size: 22px;
  word-break: break-word;
  width: 97%;
  text-align: justify;
}

.stTextArea > label  {
  color:white;
  font-size: 20px;
  text-align: center;
}

.title1 h2 {
  display:inline-block;
}

.imagen {
  float: right;
  margin-right: 5%;
}

.imagen > img {
  border-radius: 0.5rem;
}


.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.imagen-round > .column > a > img {
  border-radius: 1rem;
}
